*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.home-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/mountain.jpg);
    background-position: 0px -200px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
    
}
nav{
    display: flex;
    padding: 2.5% 7%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav img{
    width: 1000px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.nav-links{
    flex: 1;
}
.page-links{
    flex: 1;
    text-align: left;
    display: inline-block;
}
.page-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.page-links ul li a{
    color: white;
    text-decoration: none;
    font-size: medium;
}
.page-links ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.page-links ul li:hover::after{
    width: 100%;
}

.icon-links{
    text-align: right;
    float: right;
}
.icon-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.icon-links ul li a{
    color: white;
    text-decoration: none;
    font-size: x-large;
    
}

/* about page */

.about-header{
    min-height: 50px;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    padding: 2.5% 7%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav img{
    width: 50px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}
.about-nav-links{
    flex: 1;
    text-align: left;

}
.about-nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.about-nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: medium;
    
}
.about-nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: #000;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.about-nav-links ul li:hover::after{
    width: 100%;
}

.about-icon-links{
    text-align: right;
}
.about-icon-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.about-icon-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: x-large;
}

.about{
    
    padding: 2.5% 7%;
    margin: auto;
    text-align: left;
    padding-top: 25px;
}
h1.about{
    font-size: 30px;
    font-weight: 600;
    padding: 8px 12px;
    padding-bottom: 25px;
}
.about-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.about-col{
    width: 50%;
    margin-bottom: 50px;
    padding-top: 300px;
    position: relative;
}
.about-pic-col{
    width: 50%;
    margin-bottom: 50px;
    position: relative;
}
.about-pic-col img{
    width: 100%;
    display: flex;
}
p{
    font-size: 14px;
    padding: 8px 12px;
    padding-right: 100px;
    line-height: 1.75;
}

/* photography */

.photography{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
}
h1{
    font-size: 42px;
    font-weight: 600;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.pic-col{
    flex-basis: 30%;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
}
.pic-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(255, 255, 255, .25);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 50%;
    left: 0%;
    position: absolute;
}

/* music section */

.music{
    width: 100%;
    padding: 5% 10%;
    margin: auto;
    text-align: left;
    background-color: #222;
}
h1.music{
    font-size: 42px;
    font-weight: 600;
    padding: 8px 12px;
    color: white;
}
p.music{
    color: white;
    padding: 25px 12px;
}
.music-row{
    display: flex;
    justify-content: space-between;
}
.music-col-left{
    width: 40%;
}
.music-col-right{
    width: 60%;
    text-align: center;
}
.soundcloud-desc{
    padding-bottom: 25px;
}

.soundcloud-desc:last-of-type {
    padding-bottom: 0;
}

/* Photos Sections */

.photos{
    width: 90%;
    margin: auto;
}
.photo-row{
    display: flex;
    justify-content: space-between;
}
.photo-col{
    width: 31%;
}
.photo-col img{
    display: block;
    width: 100%;
    margin-top: 10%;
}

/* contact page */

.contact-header{
    min-height: 50px;
    width: 100%;
    position: relative;
    background-color: rgb(55, 55, 58);
}
nav{
    display: flex;
    padding: 2.5% 7%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav img{
    width: 50px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.contact-nav-links{
    flex: 1;
    text-align: left;

}
.contact-nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.contact-nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: medium;
    
}
.contact-nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.contact-nav-links ul li:hover::after{
    width: 100%;
}

.contact-icon-links{
    text-align: right;
}
.contact-icon-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.contact-icon-links ul li a{
    color: white;
    text-decoration: none;
    font-size: x-large;
}

.contact{
    
    padding: 5% 7%;
    margin: auto;
    text-align: left;
    padding-top: 25px;
    background-color: rgb(55, 55, 58);
}
h1.contact{
    font-size: 40px;
    font-weight: 600;
    padding: 8px 12px 35px;
    color: white;
}
.contact-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.contact-col{
    width: 50%;
    margin-bottom: 20px;
    /* padding-top: 300px; */
    position: relative;
}
.contact-pic-col{
    width: 50%;
    margin-bottom: 50px;
    position: relative;
}
.contact-pic-col img{
    width: 100%;
    display: flex;
}
p.contact{
    font-size: 14px;
    padding: 8px 12px;
    color: white;
}
.contact-icons{
    padding: 25px 8px;
}
.contact-icons .fa{
    color:white;
    cursor: pointer;
    padding: 0px 4px;
    font-size: x-large;
}
.contact-container {
    border-radius: 5px;
    padding: 0px 20px;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 25px;
    resize: vertical;
}
input[type=submit] {
    background-color: transparent;
    border: 2px solid lightgrey;
    color: lightgrey;
    padding: 12px 20px;
    border-radius: 0px;
    cursor: pointer;
    height: 60px;
    width: 100px;
}
input[type=submit]:hover {
    background-color: lightgrey;
    color: white;
    transition: 0.25s;
}
.name-text-box{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 25px;
    resize: vertical;
    margin-bottom: 0px;
}
.name-text{
    display: inline-block;
    font-size: x-small;
    padding-bottom: 16px;
    padding-top: 0px;
}
.name-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.name-col{
    width: 49%;
}
label {
    color: white;
    font-size: small;
    display: block;
    padding-top: 12px;
}

/* contact on main page */

.home-contact{
    
    padding: 5% 7%;
    margin: auto;
    text-align: left;
    padding-top: 25px;
    background-color: white;
}
h1.home-contact{
    font-size: 40px;
    font-weight: 600;
    padding: 8px 12px 35px;
    color: black;
}
.contact-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.contact-col{
    width: 50%;
    margin-bottom: 20px;
    /* padding-top: 300px; */
    position: relative;
}
.contact-pic-col{
    width: 50%;
    margin-bottom: 50px;
    position: relative;
}
.contact-pic-col img{
    width: 100%;
    display: flex;
}
p.home-contact{
    font-size: 14px;
    padding: 8px 12px;
    color: black;
}
.home-contact-icons{
    padding: 25px 8px;
}
.home-contact-icons .fa{
    color:black;
    cursor: pointer;
    padding: 0px 4px;
    font-size: x-large;
}
.contact-container {
    border-radius: 5px;
    padding: 0px 20px;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 25px;
    resize: vertical;
}
input[type=text]:focus, textarea:focus {
    outline: 2px solid black;
    outline-offset: 4px;
}
input[type=home-submit] {
    background-color: transparent;
    border: 2px solid grey;
    color: grey;
    padding: 12px 20px;
    border-radius: 0px;
    cursor: pointer;
    height: 60px;
    width: 100px;
    text-align: center;
}
input[type=home-submit]:hover {
    background-color: grey;
    color: white;
    transition: 0.25s;
}
.name-text-box{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 25px;
    resize: vertical;
    margin-bottom: 0px;
}
.name-text-box:focus{
    outline: 2px solid black;
    outline-offset: 4px;
}
.home-name-text{
    display: inline-block;
    font-size: x-small;
    padding-bottom: 16px;
    padding-top: 0px;
    color: black;
}
.name-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.name-col{
    width: 49%;
}
.home-contact-label {
    color: black;
    font-size: small;
    display: block;
    padding-top: 12px;
}

/* FOOTER */

.footer{
    width: 100%;
    text-align: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}
.icons .fa{
    color:#000;
    margin: 0 5px;
    cursor: pointer;
    padding: 18px 0;
    font-size: larger;
}

/* nav .fa{
    display: none;
} */

@media(max-width: 700px){
    .home-header{
        background-position: -100px 0px;
    }
    .nav-links ul li{
        display: block;
        padding: 5% 0;
    }
    .nav-links ul li a{
        color: black;
        font-size: xx-large;
    }
    .icon-links ul li a{
        color: black;
        font-size: xx-large;
    }
    .nav-links{
        position: absolute;
        background: white;
        opacity: 0;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
        z-index: 2;
    }
    .page-links{
        top: 50vh;
    }
}